.header__action-button{
  color: #FFFFFF;
  background-color: transparent;
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border: none;
}

.header__action-button:hover {
  opacity: 0.6;
}


