.profile__name {
  margin: 0 0 4px;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  align-self: end;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 730px) {
  .profile__name {
    font-size: 5.7vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width:540px) {
  .profile__name {
    font-size: 27px;
    max-width: 100%;
    line-height: 1.22;
  }
}

@media screen and (max-width: 430px) {
  .profile__name {
    grid-column-end: 3;
    max-width: 70%;
  }
}
