.root {
  box-sizing: border-box;
  width:100%;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  padding: 0 90px 60px;
  font-family: 'Inter','Arial', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 282px;
}

@media screen and (max-width: 940px) {
  .root {
    padding:  0 60px 45px;
  }
}

@media screen and (max-width: 730px) {
  .root {
    padding: 0 35px 45px;
  }
}

@media screen and (max-width: 430px) {
  .root {
    padding:  0 19px 36px;
  }
}
